<% #showing content and title %>
<h3><%= @post.title %></h3>
<p><%= @post.content %></p>


<% #showing list comments %>
<h4><%= "Comment's" %></h4>
<ul>
	<% @post.comments.each do |comment| %>
	<li>
		<span><%=  comment.author %> says: </span>
		<p><%=  comment.message %></p>
	</li>
	<% end %>
</ul>


<% #showing form for sending a comments %>
<% #@post.inspect %>
<%= form_for :comment, url: {action: "comments"}  do |f| %>
<p>
	<%= f.label :your_name %>
	<%= f.text_field :author %>
</p>
<p>
	<%= f.label :leave_a_comments %>
	<%= f.text_area :message %>
</p>
<%= f.submit :submit %>
<% end %>

<%= link_to 'Back', posts_path %>